{% block x_one_media_object_widget %}
    {% set field_disabled = disabled %}
    {% set readonly = readonly|default(false) or (not multiple and files|length > 0 and files[0].id is not null) %}
    <{{ element|default('div') }} class="custom-file" {{ stimulus_controller('x-one/media-object-bundle/upload', {
        disabled: field_disabled ? 'true' : 'false',
        multiple: multiple ? 'true' : 'false',
        'cssdisabled': 'pe-none disabled'
    })}}>
    {%- set type = type|default('file') -%}
    {%- set input_lang = 'en' -%}
    {% if app is defined and app.request is defined %}{%- set input_lang = app.request.locale -%}{%- endif -%}
    {%- set attr = {lang: input_lang, class: readonly ? 'pe-none disabled' : ''} | merge(attr) -%}
    {%- set attr = {accept: accepted_file_types} | merge(attr) -%}
    {{- block('form_widget_simple') -}}
    {%- set label_attr = label_attr|merge({ class: (label_attr.class|default('') ~ ' custom-file-label')|trim })|filter((value, key) => key != 'id') -%}
    <label for="{{ form.vars.id }}" {% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
        {%- if attr.placeholder is defined and attr.placeholder is not none -%}
            {{- translation_domain is same as(false) ? attr.placeholder : attr.placeholder|trans({}, translation_domain) -}}
        {%- endif -%}
    </label>

    {% if not field_disabled %}
        <div>
            {% if multiple %}
                {{ 'msg.multiple_files_allowed'|trans({}, 'x_one_media_object') }}
            {% else %}
                {{ 'msg.single_file_allowed'|trans({}, 'x_one_media_object') }}
            {% endif %}
        </div>

        {% if allowed_file_extensions is not empty %}
            <div>{{ 'msg.allowed_file_extensions'|trans({}, 'x_one_media_object') }}: {{ allowed_file_extensions|join(', ') }}</div>
        {% endif %}
    {% endif %}

    {# Replaces form[field][] into form[field][deletedMediaObjects][], and form[field] into form[field][deletedMediaObjects][] #}
    {% set last_2_characters = full_name[-2:] %}
    {% if last_2_characters == '[]' %}
        {% set form_name = full_name[:-2] ~  '[' ~ delete_form_key ~ '][]' %}
    {% else %}
        {% set form_name = full_name ~  '['  ~ delete_form_key ~ '][]' %}
    {% endif %}

    {% with {
        files: files,
        form_name: form_name,
        display_delete: not field_disabled,
        display_download: true,
        display_async_delete: false
    } %}
        {{ block('x_one_media_object_list') }}
    {% endwith %}

    </{{ element|default('div') }}>
{% endblock %}

{% block x_one_media_object_list %}
    {% for file in files %}
        <div {{ stimulus_controller('x-one/media-object-bundle/media-object') }}>
            {% if file.filePath is not null %}
                <a target="_blank" href="{{ media_object_asset(file) }}" class="text-break">{{ file.filePath }}</a>
                {% if display_download ?? true %}
                    <a target="_blank" href="{{ media_object_asset(file) }}" download><i class="ti ti-download"></i></a>
                {% endif %}
            {% endif %}
            {% if form_name is defined and file.id is not null and display_delete ?? false %}
                <a href="#"
                   data-delete-name="{{ form_name }}" data-delete-value="{{ file.id }}"
                    {{ stimulus_target('x-one/media-object-bundle/upload', 'deleteFile') }}>
                    <i class="ti ti-trash"></i>
                </a>
            {% endif %}
            {% if display_async_delete ?? false %}
                <a
                    href="{{ path('x_one_media_object_delete', {id: file.id, alias: file.alias}) }}"
                    {{ stimulus_target('x-one/media-object-bundle/media-object', 'deleteAsyncFile') }}><i class="ti ti-trash"></i></a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
